.Flow {
  display: flex;
  gap: 12px;
  align-items: end;
  justify-items: center;
  border: solid 2px rgb(171, 215, 226);
  padding: 20px;
  border-radius: 24px;
}
.arrow {
  display: flex;
  gap: 12px;
  align-items: center;
  /* text-align: center; */

  /* width: fit-content; */
}
.FlowBox {
  display: grid;
  gap: 4px;
  justify-items: center;
}
