.Flows {
  display: flex;
  gap: 12px;
  text-align: center;
}
.Flows > div {
  border-radius: 24px;
  border: solid 2px;
  display: grid;
  justify-items: center;
  padding: 12px;
  width: fit-content;
}
